{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A at blanditiis, <br>
        consectetur delectus est exercitationem explicabo <br>
        fugit hic ipsam iusto nisi non perferendis provident <br>
        quaerat repellat reprehenderit similique tempora, voluptate. <br>
    </div>
{% endblock %}

