{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A at blanditiis,
        consectetur delectus est exercitationem explicabo
        fugit hic ipsam iusto nisi non perferendis provident
        quaerat repellat reprehenderit similique tempora, voluptate.
    </div>
{% endblock %}

