{% extends 'base.html.twig' %}

{% block body %}
    <div>
        donc voilà Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br>
        Ab dicta et eum explicabo ipsum quam qui veniam voluptatibus. <br>
        Dignissimos doloribus eaque fugiat illo impedit inventore magni minima nam quia, sed.
    </div>
{% endblock %}

{% block title %}
    <h2>Nous, nostre histoire, nos exploists !</h2>
    <h6>C'est du vieux français</h6>
{% endblock %}

