{% extends 'base.html.twig' %}

{% block title %}
    Create a new Wish ! | {{ parent() }}
{% endblock %}

{% block body %}
    <div>
        {{ form_start(wishForm) }}

            {{ form_widget(wishForm) }}

            <button>Ajoutez l'idée</button>

        {{ form_end(wishForm) }}
    </div>
{% endblock %}

