{% extends 'base.html.twig' %}

{% block body %}
    <section class="wishes-list">
        <h2>All wishes!</h2>
        {% for wish in wishes %}
            <article>
                <a href="{{ path('wish_details', {id: wish.id}) }}" title="View this wish in details">{{ wish.title }}</a>
            </article>
        {% endfor %}
    </section>
{% endblock %}

{% block title %}
    <h2>Non, T'as vraiment les couilles de faire tout ça?</h2>
    <h6>Moi je le ferais pas</h6>
{% endblock %}