<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=chrome">
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    <title>Bucket-List</title>


</head>
    <header>
        <h1>{% block title %} Seau de Liste {% endblock %}</h1>
        <div><img src="F:/Informatik/PHP/Symphony/ressources-tp/logo.svg" alt=""></div>
    </header>

    <body>
        {% block body %}
            <h1>Vos envies, nos obligations.</h1>
            <h6>Attention : aucun rappel ni paramétrage d'alertes disponible.</h6>
        {% endblock %}
    </body>

    <footer>
        <div> {{ include('inc/nav.html.twig') }}</div>
        <div>©Seau de Liste {{ "now"|date("Y") }}</div>
    </footer>
</html>