<link rel="stylesheet" href="{{ asset('css/app.css') }}">
<nav>
    <ul>
        <li>
            <a href="{{ path('main_home') }}">
                <img src="F:\Informatik\PHP\Symphony\ressources-tp\favicon.png" alt="">
                Acceuil
            </a>
        </li>
    </ul>
</nav>